.cart-icon {
    position: relative;
    font-size: 22px;
  }
  .cart-icon .badge {
    position: absolute;
    top: -2px; /* Adjust for vertical alignment */
    right: -5px; /* Adjust for horizontal alignment */
    background-color: rgb(0, 183, 255);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
  }

  a i.fab.fa-whatsapp {
    font-size: 1.2em; /* Adjust the icon size to match the others */
    color: #25D366; /* WhatsApp brand color */
  }
  
  a {
    color: inherit; /* Ensures the link text color matches the rest of the text */
  }
  
  p {
    margin-bottom: 1rem; /* Ensures uniform spacing between all paragraphs */
  }




  .hero {
    background: #f6f4e9;
    color: black;
    text-align: center;
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 1.2rem;
  }
  .service-card {
    transition: transform 0.3s;
  }
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .testimonials {
    background-color: #f8f9fa;
    padding: 50px 20px;
  }
  .testimonials .testimonial {
    margin-bottom: 30px;
  }
  .testimonial .icon {
    color: #007bff;
  }


  .pricing-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  .pricing-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .pricing-header {
    background: #007bff;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.wrapper {
  max-width: 900px;
  margin: auto;
}

.box {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.box-content {
  padding: 20px;
}

.box-title {
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  display: none;
}

.checkbox-field {
  margin-right: 10px;
}

.btn-submit {
  background-color: #007bff;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #0056b3;
}